.backward{
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: 5%;
    background-color: #c83429;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
.foto-block{
    flex-grow: 0.7;
    flex-shrink: 1;
    flex-basis: 10%;
    background-color: #c8a119;
}
.phrases{
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 30%;
    background-color: #c8338f;
}
.menu-block{
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: 5%;
    background-color: #3245c8;
}

/*.block{*/
    /*background-color: #00c853;*/
    /*height: 50px;*/
    /*padding: 5px;*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/
/*.backward{*/
    /*cursor: pointer;*/
    /*float: left;*/
/*}*/
/*.foto-block{*/
    /*padding-left: 10px;*/
    /*float: left;*/
/*}*/
/*.foto{*/
    /*border: 2px silver solid;*/
    /*border-radius: 50%;*/
    /*height: 40px;*/
    /*width: 40px;*/
/*}*/
/*.phrases{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/
    /*margin-left: 5px;*/
/*}*/
/*.caption{*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
/*}*/
/*.phrase{*/
    /*font-size: 13px;*/
/*}*/