<div class="backward">
    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
</div>
<div class="foto-block">

</div>
<div class="phrases">

</div>
<div class="menu-block">

</div>
<!--<div class="block">-->
    <!--<div class="backward">-->
        <!--<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<div class="foto-block">-->
        <!--<div class="foto">-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="phrases">-->
        <!--<div class="caption text-center">-->
            <!--Заголовок-->
        <!--</div>-->
        <!--<div class="phrase text-center">-->
            <!--Фраза-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->
